<div class="modal-dialog modal-sm" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title" id="invalid-modal-label">Invalid Song Submission</h4>
    </div>
    <div class="modal-body">
      New songs cannot be submitted without <span id="aOrAn"></span> <em id="invalid-field"></em>.
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
    </div>
  </div>
</div>