<div class="col-md-1"></div>
<div class="col-xs-12 col-sm-12 col-md-10 dark-fade">
  <div class="col-sm-1 col-md-1 col-lg-2"></div>
  <div class="col-xs-12 col-sm-10 col-md-10 col-lg-8">
    <div class="song-detail">
      <h1>{{selectedSong.title}}</h1>
      <hr>
      <p><span class="genre">{{selectedSong.genre}}</span></p>
      <p>Performed by <em>{{selectedSong.artist}}</em> on the album <em>{{selectedSong.album}}</em>.</p>
    </div>
  </div>
  <div class="col-sm-1 col-md-1 col-lg-2"></div>
</div>
<div class="col-md-1"></div>