<div class="modal fade" id="delete-modal" tabindex="-1" role="dialog" aria-labelledby="delete-modal-label" ng-include="'partials/delete-modal.html'">
  <!-- Delete Modal -->
</div>

<div class="modal fade" id="edit-modal" tabindex="-1" role="dialog" aria-labelledby="edit-modal-label" ng-include="'partials/edit-modal.html'">
  <!-- Edit Modal -->
</div>

<div class="col-md-1"></div>

<!-- Left conrol area -->
<div class="col-sm-5 col-md-4 dark-fade">
  <form id="filter-form" class="form-group">

    <div class="input-group">
      <span class="input-group-addon">Artist:&nbsp;&nbsp;</span>
      <select class="form-control filter-input" name="artist" id="artist" ng-model="songs.artistSelector" ng-options="item.artist for item in songs.songs | unique:'artist'">
        <option>--</option>
      </select>
    </div>

    <div class="input-group">
      <span class="input-group-addon">Album:</span>
      <select class="form-control filter-input" name="album" id="album" ng-model="songs.albumSelector" ng-options="item.album for item in songs.songs | unique:'album' | filter: {artist: songs.artistSelector.artist}">
        <option>--</option>
      </select>
    </div>

    <div id="genre">
      <div class="row">
        <div class="col-xs-6">
          <div class="input-group">
            <span class="input-group-addon">
              <input class="filter-input" type="checkbox" aria-label="..." value="Rock">
            </span>
            <input type="text" class="form-control" readonly aria-label="Rock" value="Rock">
          </div>
        </div>
        <div class="col-xs-6">
          <div class="input-group">
            <span class="input-group-addon">
              <input class="filter-input" type="checkbox" aria-label="..." value="Electronic">
            </span>
            <input type="text" class="form-control" readonly aria-label="Electronic" value="Electronic">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6">
          <div class="input-group">
            <span class="input-group-addon">
              <input class="filter-input" type="checkbox" aria-label="..." value="Hip Hop">
            </span>
            <input type="text" class="form-control" readonly aria-label="Hip Hop" value="Hip Hop">
          </div>
        </div>
        <div class="col-xs-6">
          <div class="input-group">
            <span class="input-group-addon">
              <input class="filter-input" type="checkbox" aria-label="..." value="Metal">
            </span>
            <input type="text" class="form-control" readonly aria-label="Metal" value="Metal">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6">
          <div class="input-group">
            <span class="input-group-addon">
              <input class="filter-input" type="checkbox" aria-label="..." value="Folk">
            </span>
            <input type="text" class="form-control" readonly aria-label="Folk" value="Folk">
          </div>
        </div>
        <div class="col-xs-6">
          <div class="input-group">
            <span class="input-group-addon">
              <input class="filter-input" type="checkbox" aria-label="..." value="Classical">
            </span>
            <input type="text" class="form-control" readonly aria-label="Classical" value="Classical">
          </div>
        </div>
      </div>
    </div>
    <input class="btn btn-default form-action" id="filter-reset" type="submit" value="Reset" ng-click="songs.resetFilter()">
  </form>
</div>

<!-- Right content area -->
<div class="col-sm-7 col-md-6 right-content">
  <div class="content">
    <x-song-list-directive></x-song-list-directive>
  </div>
</div>
<div class="col-md-1"></div>